//
// Project-Shared.xcconfig
//

COPY_PHASE_STRIP = NO

ALWAYS_SEARCH_USER_PATHS = NO
ARCHS = $(ARCHS_STANDARD)
CLANG_ADDRESS_SANITIZER_CONTAINER_OVERFLOW = YES
CLANG_ANALYZER_SECURITY_FLOATLOOPCOUNTER = YES
CLANG_ANALYZER_SECURITY_INSECUREAPI_RAND = YES
CLANG_CXX_LIBRARY = libc++
CLANG_ENABLE_MODULES = YES
CLANG_ENABLE_OBJC_ARC = YES
CLANG_UNDEFINED_BEHAVIOR_SANITIZER_INTEGER = YES
CLANG_UNDEFINED_BEHAVIOR_SANITIZER_NULLABILITY = YES
CLANG_WARN_ASSIGN_ENUM = YES
CLANG_WARN_BLOCK_CAPTURE_AUTORELEASING = YES
CLANG_WARN_BOOL_CONVERSION = YES
CLANG_WARN_COMMA = YES
CLANG_WARN_CONSTANT_CONVERSION = YES
CLANG_WARN_EMPTY_BODY = YES
CLANG_WARN_ENUM_CONVERSION = YES
CLANG_WARN_FLOAT_CONVERSION = NO
CLANG_WARN_INFINITE_RECURSION = YES
CLANG_WARN_INT_CONVERSION = NO
CLANG_WARN_IMPLICIT_SIGN_CONVERSION = NO
CLANG_WARN_NON_LITERAL_NULL_CONVERSION = YES
CLANG_WARN_PRAGMA_PACK = YES
CLANG_WARN_PRIVATE_MODULE = YES
CLANG_WARN_QUOTED_INCLUDE_IN_FRAMEWORK_HEADER = YES
CLANG_WARN_SEMICOLON_BEFORE_METHOD_BODY = YES
CLANG_WARN_STRICT_PROTOTYPES = YES
CLANG_WARN_SUSPICIOUS_IMPLICIT_CONVERSION = NO
CLANG_WARN_UNGUARDED_AVAILABILITY = YES_AGGRESSIVE
CLANG_WARN_UNREACHABLE_CODE = YES
ENABLE_STRICT_OBJC_MSGSEND = YES
GCC_NO_COMMON_BLOCKS = YES
GCC_SYMBOLS_PRIVATE_EXTERN = NO
GCC_TREAT_IMPLICIT_FUNCTION_DECLARATIONS_AS_ERRORS = YES
GCC_TREAT_INCOMPATIBLE_POINTER_TYPE_WARNINGS_AS_ERRORS = YES
GCC_TREAT_WARNINGS_AS_ERRORS = NO
GCC_WARN_64_TO_32_BIT_CONVERSION = NO
GCC_WARN_ABOUT_DEPRECATED_FUNCTIONS = YES
GCC_WARN_ABOUT_MISSING_FIELD_INITIALIZERS = YES
GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES
GCC_WARN_ABOUT_MISSING_NEWLINE = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES_ERROR
GCC_WARN_ABOUT_POINTER_SIGNEDNESS = YES
GCC_WARN_CHECK_SWITCH_STATEMENTS = YES
GCC_WARN_FOUR_CHARACTER_CONSTANTS = YES
GCC_WARN_INITIALIZER_NOT_FULLY_BRACKETED = YES
GCC_WARN_MISSING_PARENTHESES = YES
GCC_WARN_SHADOW = YES
GCC_WARN_SIGN_COMPARE = NO
GCC_WARN_TYPECHECK_CALLS_TO_PRINTF = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES_AGGRESSIVE
GCC_WARN_UNKNOWN_PRAGMAS = YES
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_LABEL = YES
GCC_WARN_UNUSED_PARAMETER = NO
GCC_WARN_UNUSED_VALUE = YES
GCC_WARN_UNUSED_VARIABLE = YES
IPHONEOS_DEPLOYMENT_TARGET = 13.0
SDKROOT = iphoneos
SKIP_INSTALL = YES
SWIFT_TREAT_WARNINGS_AS_ERRORS = NO
SWIFT_VERSION = 4.2
TARGETED_DEVICE_FAMILY = 1
TOOLCHAINS = default
//WARNING_CFLAGS = -Wunreachable-code -Wextra -Wno-unused-parameter -Wno-sign-compare

// Apple Clang - Warnings - C++
CLANG_WARN_VEXING_PARSE = YES
CLANG_WARN_DELETE_NON_VIRTUAL_DTOR = YES
CLANG_WARN__EXIT_TIME_DESTRUCTORS = YES
GCC_WARN_NON_VIRTUAL_DESTRUCTOR = YES
GCC_WARN_HIDDEN_VIRTUAL_FUNCTIONS = YES
CLANG_WARN_RANGE_LOOP_ANALYSIS = YES
CLANG_WARN_SUSPICIOUS_MOVE = YES
GCC_WARN_ABOUT_INVALID_OFFSETOF_MACRO = YES
CLANG_WARN_CXX0X_EXTENSIONS = YES

// Apple Clang - Warnings - Objective-C
CLANG_WARN_DIRECT_OBJC_ISA_USAGE = YES_ERROR
CLANG_WARN__DUPLICATE_METHOD_MATCH = NO
CLANG_WARN_OBJC_IMPLICIT_ATOMIC_PROPERTIES = NO
CLANG_WARN_OBJC_LITERAL_CONVERSION = YES
CLANG_WARN_OBJC_MISSING_PROPERTY_SYNTHESIS = NO
GCC_WARN_ALLOW_INCOMPLETE_PROTOCOL = YES
CLANG_WARN_OBJC_INTERFACE_IVARS = NO
CLANG_WARN_MISSING_NOESCAPE = YES
CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS = NO
GCC_WARN_STRICT_SELECTOR_MATCH = NO
GCC_WARN_UNDECLARED_SELECTOR = YES
CLANG_WARN_OBJC_ROOT_CLASS = YES_ERROR

// Apple Clang - Warnings - Objective-C and ARC
CLANG_WARN_OBJC_EXPLICIT_OWNERSHIP_TYPE = NO
CLANG_WARN_OBJC_IMPLICIT_RETAIN_SELF = NO
CLANG_WARN_OBJC_REPEATED_USE_OF_WEAK = NO
CLANG_WARN__ARC_BRIDGE_CAST_NONARC = YES

// Static Analyzer - Generic Issues
CLANG_ANALYZER_DEADCODE_DEADSTORES = YES
CLANG_ANALYZER_MEMORY_MANAGEMENT = YES
CLANG_ANALYZER_NONNULL = NO

// Static Analyzer - Issues - Apple APIs
CLANG_ANALYZER_OBJC_NSCFERROR = YES
CLANG_ANALYZER_LOCALIZABILITY_NONLOCALIZED = YES
CLANG_ANALYZER_LOCALIZABILITY_EMPTY_CONTEXT = NO
CLANG_ANALYZER_OBJC_COLLECTIONS = YES
CLANG_ANALYZER_GCD = YES
CLANG_ANALYZER_GCD_PERFORMANCE = NO
CLANG_ANALYZER_NUMBER_OBJECT_CONVERSION = NO

// Static Analyzer - Issues - Security
CLANG_ANALYZER_SECURITY_INSECUREAPI_STRCPY = YES

MTL_ENABLE_DEBUG_INFO = YES
SWIFT_OPTIMIZATION_LEVEL = -Onone
