<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>125</key>
	<string>83.54</string>
	<key>250</key>
	<string>83.11</string>
	<key>500</key>
	<string>84.58</string>
	<key>750</key>
	<string>84.02</string>
	<key>1000</key>
	<string>82.80</string>
	<key>1500</key>
	<string>86.20</string>
	<key>2000</key>
	<string>89.29</string>
	<key>3000</key>
	<string>92.67</string>
	<key>4000</key>
	<string>89.76</string>
	<key>6000</key>
	<string>91.64</string>
	<key>8000</key>
	<string>88.22</string>
</dict>
</plist>
