<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>125</key>
	<string>88.97</string>
	<key>250</key>
	<string>86.30</string>
	<key>500</key>
	<string>84.49</string>
	<key>750</key>
	<string>83.59</string>
	<key>1000</key>
	<string>83.89</string>
	<key>1500</key>
	<string>87.60</string>
	<key>2000</key>
	<string>90.07</string>
	<key>3000</key>
	<string>92.51</string>
	<key>4000</key>
	<string>88.87</string>
	<key>6000</key>
	<string>91.46</string>
	<key>8000</key>
	<string>89.61</string>
</dict>
</plist>
