<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1.0000</key>
	<string>-0.5</string>
	<key>0.9375</key>
	<string>-3.2</string>
	<key>0.8750</key>
	<string>-6.7</string>
	<key>0.8125</key>
	<string>-10</string>
	<key>0.7500</key>
	<string>-13.6</string>
	<key>0.6875</key>
	<string>-16.9</string>
	<key>0.6250</key>
	<string>-20.9</string>
	<key>0.5625</key>
	<string>-24.9</string>
	<key>0.5000</key>
	<string>-28.9</string>
	<key>0.4375</key>
	<string>-32.9</string>
	<key>0.3750</key>
	<string>-37.3</string>
	<key>0.3125</key>
	<string>-42</string>
	<key>0.2500</key>
	<string>-46.9</string>
	<key>0.1875</key>
	<string>-52.3</string>
	<key>0.1250</key>
	<string>-58.4</string>
	<key>0.0625</key>
	<string>-65.6</string>
</dict>
</plist>
